<%- include('../partials/header') %>

<div class="posts-container">
    <div class="post-inner-content">
        <article>
            <h2 class="post-title"><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
            <div class="post-body"><%- post.content %></div>
        </article>
    </div>
</div>
<%- include('../partials/footer') %>